:root {
    --basicColor1: blueviolet;
    --basicColor2: rgb(59, 54, 54);
}
body{
    color:blueviolet;
}
header {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    
}